@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,400;1,500&display=swap");

* {
  font-family: Open Sans;
  box-sizing: border-box;
}
:root {
  --bg-gray: #ddd;
  --text-gray: #4a4a4a;
  --color-primary: #4d41c0;
  --white: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
header {
  background-color: var(--color-primary);
  color: var(--white);
  height: 60px;
  display: flex;
  align-items: center;
}

a,
a:hover {
  color: unset;
  text-decoration: none;
}
html,
body {
  background: var(--bg-gray);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav h1 {
  font-size: 24px;
  font-weight: bold;
}

nav a {
  font-size: 12px;
  font-weight: normal;
}
.contatos {
  display: flex;
  align-items: center;
}

.contatos img {
  margin-right: 7px;
  margin-bottom: 5px;
}
#card-list {
  background: #cc8f99;
  padding: 40px 0;
}
.dsmovie-card {
  width: 100%;
}
.dsmovie-card img {
  background: #deec9d;
  width: 100%;
  border-radius: 8px 8px 0 0;
}
.description {
  display: flex;
  padding: 10px 0 20px 0;
  flex-direction: column;
  align-items: center;
  background: var(--white);
  border-radius: 0 0 8px 8px;
}
.description h3 {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 25px;
}

.dsmovie-btn,
.dsmovie-btn:hover {
  width: 180px;
  height: 40px;
  background-color: var(--color-primary);
  color: var(--bg-gray);
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}
