@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,400;1,500&display=swap");

* {
  font-family: Open Sans;
  box-sizing: border-box;
}
header {
  background-color: #4d41c0;
  color: #fff;
}

a,
a:hover {
  color: unset;
  text-decoration: none;
}
html,
body {
  background: #ddd;
}

nav {
  display: flex;
  align-items: center;
  padding: 5px;
  justify-content: space-between;
}
